[submodule "third_party/dbcppp"]
	path = third_party/dbcppp
	url = https://github.com/xR3b0rn/dbcppp.git
[submodule "third_party/abseil"]
	path = third_party/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/paho-mqtt-c"]
	path = third_party/paho-mqtt-c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
